* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
}

.containerr {
    width: 1280px;
    /* height: 500px; */
    /* display: flex; */
    /* justify-content: center; */

}

.img {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #1D2130;
    margin-top: 96px;
    margin-left: 206px;
}

.we {
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 120%;
    color: #1D2130;
    margin-top: 32px;
    margin-left: 206px;
}

.ipsum {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #525560;
    margin-top: 34px;
    margin-left: 206px;
}

.img1 {
    margin-top: 110px;
    padding-left: 110px;
}

.ass {
    background: #EFF7F2;
    margin-top: 100px;
}

.what {
    margin-top: 96px;
    margin-left: 110px;
}

.build {
    margin-top: 64px;
    margin-left: 162px;
}

.icon {
    margin-top: 64px;
    margin-left: 110px;
}

.di {
    display: flex;
}

.hav h4 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #1D2130;

    margin-top: 96px;
}

.hav h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 120%;
    text-align: center;
    color: #1D2130;
    margin-top: 16px;
    justify-content: center;
}

.img4 {
    display: flex;
    margin-left: 110px;
    gap: 24px;
    margin-top: 64px;
}

.tree h3 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 150%;
    margin-left: 48px;
    color: #ffff;
    padding: 80px 48px
}

.tree p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    margin-left: 160px;
    color: #ffff;
    margin-top: 16px;
    margin-left: 48px;
}

.tree {
    background-image: url(../img/img3.png);
    background-repeat: no-repeat;
    background-position: center;
    gap: 30px;

}

.uu {
    display: flex;
    gap: 30px;
    text-align: center;
}

.city {
    background: url(../img/img4.png);
}

.city h3 {
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 150%;
    color: #FFFFFF;
    margin-left: 48px;
    padding: 60px;
}

.city p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #FFFFFF;
    margin-left: 48px;
    padding: 46px;
}

.prog h3 {
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 150%;
    color: #FFFFFF;
    margin-left: 48px;
    padding: 39px;
}

.prog p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #FFFFFF;
    margin-left: 48px;
    padding: 46px;
}

.prog {
    background: url(../img/img5.png);
}

.see {
    width: 132px;
    height: 51px;
    left: 158px;
    top: 1850px;
    background: #FFFFFF;
    backdrop-filter: blur(40px);
    border-radius: 4px;
}

.se {
    background: #FFFFFF;
    top: 1850px;

    backdrop-filter: blur(48px);
    border-radius: 4px;
    padding: 16px 32px;
}

.mo {
    padding: 16px 32px;
}

.to {
    margin: 189px;
    margin-left: 300px;
    padding: 93px;

}

.make {
    background-size: 100%;

    background-image: url(../img/img6.png);
    background-repeat: no-repeat;

}

.vol {
    width: 200px;
    height: 51px;
    left: 576px;
    top: 2286px;
    background: #70C174;
    backdrop-filter: blur(40px);
    border-radius: 4px;
}

.our1 {
    display: flex;
    gap: 30px;
    justify-content: center;
}